## Lab: 12 - Data Analysis with Pandas
### Videogames Sales
#### Ahmad Alrasheed - 25/10/2021

In [ ]:
import pandas as pd
df = pd.read_csv('vgsales.csv') 
df


1. Which company is the most common video game publisher?

In [68]:
def most_common_publisher():
    return df.Publisher.mode()[0]
most_common_publisher()

'Electronic Arts'

2. What’s the most common platform?

In [70]:
def most_common_platform():
     return df['Platform'].mode()[0]
most_common_platform()

'DS'

3. What about the most common genre?

In [72]:
def most_common_genre():
     return df['Genre'].mode()[0]
most_common_genre()

'Action'

4. What are the top 20 highest grossing games?

In [ ]:
def top_twenty_grossing_games():
    return df[['Name','Global_Sales']].sort_values('Global_Sales', ascending=False).head(20)
top_twenty_grossing_games()

5. For North American video game sales, what’s the median?

In [321]:
def Na_median():
    return df.NA_Sales.median()
    
Na_median()
def Ten_values_surrounding_median():
    mid_point=round(df.NA_Sales.count()/2)
    return df[['Name','NA_Sales']].sort_values(by='NA_Sales',ascending=False)[mid_point-5:mid_point+5]
Ten_values_surrounding_median()

                                                   Name  NA_Sales
10802                Bladestorm: The Hundred Years' War      0.08
9569                              Batman: Arkham Knight      0.08
8550      Wakeboarding Unleashed Featuring Shaun Murray      0.08
10799                                         Mind Quiz      0.08
9197                       The Walking Dead: Season Two      0.08
9192                                      Dino Crisis 3      0.08
10181                              Smash Court Tennis 3      0.08
8802   Disney's The Lion King: Simba's Mighty Adventure      0.08
8724                                             Driven      0.08
10793                                      Glory Days 2      0.08

6. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [207]:
def Z_score():
    score_for_top_selling_game=df[['Name', 'NA_Sales']].sort_values('NA_Sales', ascending=False)[0:1]['NA_Sales'][0]
    standard_deviation=df.NA_Sales.std()
    mean_value=df.NA_Sales.mean()
    #  zscore = (value-mean)/standard deviation
    z_score=((score_for_top_selling_game-mean_value)/standard_deviation)
    return z_score
Z_score()

50.47898767479108

7. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [255]:
def Nintendo_global_sales():
    pass
Nintendo_global_sales()
# df

* Come up with 3 more questions that can be answered with this data set.

* Show the least common 10 video games according to the Global sales

In [313]:
def least_common_game():
    return df[['Name','Global_Sales']].sort_values(by='Global_Sales',ascending=True).head(10)['Name']
least_common_game()

16597                                   Spirits & Spells
16188                                   Toro to Morimori
16187                                     Jewel Quest II
16186                                        BattleForge
16185             Tantei Jinguuji Saburo: Hai to Diamond
16184    Fatal Fury: Battle Archives Volume 2 (JP sales)
16183                        Sakura-Sou no Pet na Kanojo
16182                                    Princess Arthur
16181                               Resistance Dual Pack
16180                          Rozen Maiden: Gebetgarten
Name: Name, dtype: object

* Show every unsold video game according to north america sales?

In [336]:
def Unsold_game_in_NA():
    return df[['Name','NA_Sales']].loc[df.NA_Sales==0]
    
Unsold_game_in_NA()

                                                    Name  NA_Sales
214                             Monster Hunter Freedom 3       0.0
338                                    Friend Collection       0.0
383                                     Monster Hunter 4       0.0
402    English Training: Have Fun Improving Your Skills!       0.0
426                 Dragon Quest VI: Maboroshi no Daichi       0.0
...                                                  ...       ...
16587                           Mezase!! Tsuri Master DS       0.0
16589  Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...       0.0
16590  Eiyuu Densetsu: Sora no Kiseki Material Collec...       0.0
16595   SCORE International Baja 1000: The Official Game       0.0
16596                                         Know How 2       0.0

[4499 rows x 2 columns]

* What is the year that have the biggest number of video games released?

In [312]:
def most_common_year():
     return df['Year'].mode()[0]
most_common_year()

2009.0

### Testing

In [337]:
def test():
    
    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher(), "Electronic Arts")
    assert_equal(most_common_platform(), "DS")
    assert_equal(most_common_genre(), "Action")
    assert_equal(top_twenty_grossing_games().iloc[0].Name, "Wii Sports")
    assert_equal(top_twenty_grossing_games().iloc[19].Name, "Brain Age: Train Your Brain in Minutes a Day")
    assert_equal(Na_median(), 0.08)
    assert_equal(Ten_values_surrounding_median().iloc[0].Name, "Bladestorm: The Hundred Years' War")
    assert_equal(Z_score(), 50.47898767479108)
    assert_equal(least_common_game().iloc[0], "Spirits & Spells")
    assert_equal(most_common_year(), 2009.0)
    assert_equal(Unsold_game_in_NA().iloc[0].Name, "Monster Hunter Freedom 3")
    print("Success!!!")

test()

Success!!!